.home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  .home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
  }
  .home {
    /* display: flex;
    justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
  }
  .a-icon{
    display: inline-block;
    vertical-align: top;
  }
  .a-icon .privious-icon{
    background-position:0 0 ;
  }
  .privious-icon{
background-size: 68px 52px;
width: 34px;
height: 52px;
outline: 0;
    background-image:url(
     "https://m.media-amazon.com/images/S/sash/ydDD9hnRfziI$y7.png");
  }
  
  